

.logo-img {
    position: absolute;
    top: 20px;
}

.bannertext {
    background-image: url("/images/dva-divide.png");
    background-position: center;
    background-size: cover;
    padding: 9em 5em;
    text-align: center;
}

.search-bar {
    margin: auto;
}

.robot-graph {
    margin-top: 1em;
}

.carousel-sec {
    width: 75%;
}

.carousel-arr {
    width: 100%;
    color: white;
}

.lightfont {
    color: white;
    text-align: center;
}