.nav-link:hover,
.dropdown-item:hover {
  color: #D70016 !important;
}


.textre {
  font-size: 3.5em;
}

.textretwo {
  font-size: 1.75em;
  font-weight: 700;
}

.logo-img {
  position: relative;
  top: 50%;
}

.bannertext {
  background-image: url("./images/dvablur.png");
  background-position: center;
  background-size: cover;
  padding: 9em 5em;
  text-align: center;
}

.search-bar {
  margin: auto;
}

.robot-graph {
  margin-top: 1em;
}

.robot-graph:hover {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


.carousel-sec {
  width: 75%;
}

.carousel-arr {
  width: 100%;
  color: white;
}

.text-light {
  color: white;
}

.projecthead {
  text-align: center;
}

.card-cuts {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 36px;
  grid-template-rows: 1fr;
}

.card-cuts:hover {
  transform: scale(1.025);
}